.u-colorBlack {
    color: #000;
}

.u-colorWhite {
    color: #fff;
}

.u-color1 {
    color: rgb(62, 49, 138);
}

.u-color2 {
    color: rgb(218, 79, 111);
}

.u-color3 {
    color: rgb(232, 114, 51);
}

.u-color4 {
    color: rgb(254, 233, 221);
}

.u-color5 {
    color: rgb(222, 240, 233);
}