.Footer-container {
    min-height: 100vh;
    padding:20px;
}
.Footer-tagSummary p {
    margin-bottom: 0;
}
.Footer-tagSummary p em {
    font-style: normal;
    font-weight: bold;
}
.Footer-tagSummary a {
    color: currentcolor;
    text-decoration: underline;
}

@media (min-width: 544px) {
    .Footer {
        padding: 20px 0px;
    }
}