.Jumbo {
    display: table;
    padding: 10px;
}
.Jumbo--small {
    height: 25vh;
}
.Jumbo--half {
    height: 50vh;
}
.Jumbo--large {
    height: 75vh;
}
.Jumbo--full {
    height: 100vh;
    max-height: 800px;
}
.JumboContent {
    display: table-cell;
    vertical-align: middle;
}
.JumboContent-title {
    font-size: 2.5rem;
}
.JumboContent-subtitle {
    font-size: 2rem;
}
.JumboContent-lead {
    font-size: 1.25rem;
}
.JumboContent-text {
    font-size: 1rem;
}
.u-bgColor5 .JumboContent--markdown h1 {
    color: rgb(218, 79, 111);
}
.u-bgColor5 .JumboContent--markdown h2 {
    color: rgb(218, 79, 111);
}
.u-bgColor5 .JumboContent--markdown p {
    color: #000;
}
.u-bgColor5 .JumboContent--markdown a {
    color: rgb(218, 79, 111);
}
.u-bgColor4 .JumboContent--markdown h1 {
    color: rgb(62, 49, 138);
}
.u-bgColor4 .JumboContent--markdown h2 {
    color: rgb(62, 49, 138);
}
.u-bgColor4 .JumboContent--markdown p {
    color: #000;
}
.u-bgColor4 .JumboContent--markdown a {
    color: rgb(62, 49, 138);
}
.JumboContent--markdown h1 {
    font-size: 2.5rem;
    text-align: center;
}
.JumboContent--markdown h2 {
    font-size: 2rem;
    text-align: center;
}
.JumboContent--markdown p {
    font-size: 1rem;
    text-align: justify;
}
@media (min-width: 544px) {
    .JumboContent {
        padding: 20px 0;
    }
}
