.u-compress {
    padding-left: 0;
    padding-right: 0;
}

.u-spaceBelow {
    margin-bottom: 20px;
}

.u-largeSpaceBelow {
    margin-bottom: 3rem;
}

@media (min-width: 1200px) {
    .u-compress {
        padding-left: 10rem;
        padding-right: 10rem;
    }
}